@import '../all-theme';

@include dia-core();

$primary: dia-palette($dia-blue);
$accent: dia-palette($dia-orange, A200, A100, A400);
$warn: dia-palette($dia-red, 400);
$success: dia-palette($dia-green, 400);

$theme: dia-theme((color: (primary: $primary,
			accent: $accent, warn: $warn, success: $success)), true);

@include angular-dia-theme($theme);
