$dark-primary-text: rgba(black, 0.87);
$dark-secondary-text: rgba(black, 0.54);
$dark-disabled-text: rgba(black, 0.38);
$dark-dividers: rgba(black, 0.12);
$dark-focused: rgba(black, 0.12);
$light-primary-text: white;
$light-secondary-text: rgba(white, 0.7);
$light-disabled-text: rgba(white, 0.5);
$light-dividers: rgba(white, 0.12);
$light-focused: rgba(white, 0.12);

$dia-red: (50: #ffebee,
	100: #ffcdd2,
	200: #ef9a9a,
	300: #e57373,
	400: #ef5350,
	500: #f44336,
	600: #e53935,
	700: #d32f2f,
	800: #c62828,
	900: #b71c1c,
	A100: #ff8a80,
	A200: #ff5252,
	A400: #ff1744,
	A700: #d50000,
	contrast: (50: $dark-primary-text,
		100: $dark-primary-text,
		200: $dark-primary-text,
		300: $dark-primary-text,
		400: $dark-primary-text,
		500: $light-primary-text,
		600: $light-primary-text,
		700: $light-primary-text,
		800: $light-primary-text,
		900: $light-primary-text,
		A100: $dark-primary-text,
		A200: $light-primary-text,
		A400: $light-primary-text,
		A700: $light-primary-text,
	));

$dia-orange: (50: #fff3e0,
	100: #ffe0b2,
	200: #ffcc80,
	300: #ffb74d,
	400: #ffa726,
	500: #ff9800,
	600: #fb8c00,
	700: #f57c00,
	800: #ef6c00,
	900: #e65100,
	A100: #ffd180,
	A200: #ffab40,
	A400: #ff9100,
	A700: #ff6d00,
	contrast: (50: $dark-primary-text,
		100: $dark-primary-text,
		200: $dark-primary-text,
		300: $dark-primary-text,
		400: $dark-primary-text,
		500: $dark-primary-text,
		600: $dark-primary-text,
		700: $dark-primary-text,
		800: $light-primary-text,
		900: $light-primary-text,
		A100: $dark-primary-text,
		A200: $dark-primary-text,
		A400: $dark-primary-text,
		A700: black,
	));

$dia-green: (50: #e8f5e9,
	100: #c8e6c9,
	200: #a5d6a7,
	300: #81c784,
	400: #66bb6a,
	500: #4caf50,
	600: #43a047,
	700: #388e3c,
	800: #2e7d32,
	900: #1b5e20,
	A100: #b9f6ca,
	A200: #69f0ae,
	A400: #00e676,
	A700: #00c853,
	contrast: (50: $dark-primary-text,
		100: $dark-primary-text,
		200: $dark-primary-text,
		300: $dark-primary-text,
		400: $dark-primary-text,
		500: $dark-primary-text,
		600: $light-primary-text,
		700: $light-primary-text,
		800: $light-primary-text,
		900: $light-primary-text,
		A100: $dark-primary-text,
		A200: $dark-primary-text,
		A400: $dark-primary-text,
		A700: $dark-primary-text,
	));

$mat-teal: (50: #e0f2f1,
	100: #b2dfdb,
	200: #80cbc4,
	300: #4db6ac,
	400: #26a69a,
	500: #009688,
	600: #00897b,
	700: #00796b,
	800: #00695c,
	900: #004d40,
	A100: #a7ffeb,
	A200: #64ffda,
	A400: #1de9b6,
	A700: #00bfa5,
	contrast: (50: $dark-primary-text,
		100: $dark-primary-text,
		200: $dark-primary-text,
		300: $dark-primary-text,
		400: $dark-primary-text,
		500: $light-primary-text,
		600: $light-primary-text,
		700: $light-primary-text,
		800: $light-primary-text,
		900: $light-primary-text,
		A100: $dark-primary-text,
		A200: $dark-primary-text,
		A400: $dark-primary-text,
		A700: $dark-primary-text,
	));

$dia-blue: (50: #e3f2fd,
	100: #bbdefb,
	200: #90caf9,
	300: #64b5f6,
	400: #42a5f5,
	500: #2196f3,
	600: #1e88e5,
	700: #1976d2,
	800: #1565c0,
	900: #0d47a1,
	A100: #82b1ff,
	A200: #448aff,
	A400: #2979ff,
	A700: #2962ff,
	contrast: (50: $dark-primary-text,
		100: $dark-primary-text,
		200: $dark-primary-text,
		300: $dark-primary-text,
		400: $dark-primary-text,
		500: $light-primary-text,
		600: $light-primary-text,
		700: $light-primary-text,
		800: $light-primary-text,
		900: $light-primary-text,
		A100: $dark-primary-text,
		A200: $light-primary-text,
		A400: $light-primary-text,
		A700: $light-primary-text,
	));

$dia-grey: (50: #fafafa,
	100: #f5f5f5,
	200: #eeeeee,
	300: #e0e0e0,
	400: #bdbdbd,
	500: #9e9e9e,
	600: #757575,
	700: #616161,
	800: #424242,
	900: #212121,
	A100: #ffffff,
	A200: #eeeeee,
	A400: #bdbdbd,
	A700: #616161,
	contrast: (50: $dark-primary-text,
		100: $dark-primary-text,
		200: $dark-primary-text,
		300: $dark-primary-text,
		400: $dark-primary-text,
		500: $dark-primary-text,
		600: $light-primary-text,
		700: $light-primary-text,
		800: $light-primary-text,
		900: $light-primary-text,
		A100: $dark-primary-text,
		A200: $dark-primary-text,
		A400: $dark-primary-text,
		A700: $light-primary-text,
	));

$dia-gray: $dia-grey;

// Background palette for light themes
$dia-light-theme-background: (status-bar: map_get($dia-grey, 300),
	app-bar: map_get($dia-grey, 100),
	background: map_get($dia-grey, 50),
	hover: rgba(black, 0.04),
	card: white,
	dialog: white,
	disabled-button: rgba(black, 0.12),
	raised-button: white,
	focused-button: $dark-focused,
	selected-button: map_get($dia-grey, 300),
	selected-disabled-button: map_get($dia-grey, 400),
	disabled-button-toggle: map_get($dia-grey, 200),
	unselected-chip: map_get($dia-grey, 300),
	disabled-list-option: map_get($dia-grey, 200),
	tooltip: map_get($dia-grey, 700),
);

// Background palette for dark themes
$dia-dark-theme-background: (status-bar: black,
	app-bar: map_get($dia-grey, 900),
	background: #303030,
	hover: rgba(white, 0.04),
	card: map_get($dia-grey, 800),
	dialog: map_get($dia-grey, 800),
	disabled-button: rgba(white, 0.12),
	raised-button: map-get($dia-grey, 800),
	focused-button: $light-focused,
	selected-button: map_get($dia-grey, 900),
	selected-disabled-button: map_get($dia-grey, 800),
	disabled-button-toggle: black,
	unselected-chip: map_get($dia-grey, 700),
	disabled-list-option: black,
	tooltip: map_get($dia-grey, 700),
);

// Foreground palette for light themes
$dia-light-theme-foreground: (base: black,
	divider: $dark-dividers,
	dividers: $dark-dividers,
	disabled: $dark-disabled-text,
	disabled-button: rgba(black, 0.26),
	disabled-text: $dark-disabled-text,
	elevation: black,
	hint-text: $dark-disabled-text,
	secondary-text: $dark-secondary-text,
	icon: rgba(black, 0.54),
	icons: rgba(black, 0.54),
	text: rgba(black, 0.87),
	slider-min: rgba(black, 0.87),
	slider-off: rgba(black, 0.26),
	slider-off-active: rgba(black, 0.38),
);

// Foreground palette for dark themes
$dia-dark-theme-foreground: (base: white,
	divider: $light-dividers,
	dividers: $light-dividers,
	disabled: $light-disabled-text,
	disabled-button: rgba(white, 0.3),
	disabled-text: $light-disabled-text,
	elevation: black,
	hint-text: $light-disabled-text,
	secondary-text: $light-secondary-text,
	icon: white,
	icons: white,
	text: white,
	slider-min: white,
	slider-off: rgba(white, 0.3),
	slider-off-active: rgba(white, 0.3),
);
