:host {
	display: block;
	padding: 10px 50px;

	dia-card {
		margin-bottom: 20px;

		dia-card-content {
			padding: 0 40px;
		}

		&.playground {
			dia-card-content {
				display: grid;
				grid-template-columns: auto auto 1fr;

				.options {
					margin-right: 40px;

					.option {
						margin-left: 10px;
						padding: 5px 10px;

						input,
						label {
							cursor: pointer;
						}

						label {
							margin-left: 5px;
						}
					}
				}

				.buttons {
					justify-self: center;
					align-self: center;

					button {
						min-width: 200px;
						min-height: 40px;

						margin-right: 200px;

						&.dia-fab,
						&.dia-mini-fab {
							min-width: unset;
						}
					}
				}
			}
		}
	}

	dia-divider {
		right: 32px;
		left: 32px;

		width: unset;
	}

	section {
		display: table;

		.example-label {
			display: table-cell;
			font-size: 14px;
			margin-left: 8px;
			min-width: 120px;
		}

		.example-button-row {
			display: table-cell;

			>*:not(.example-flex-container) {
				width: 100px;
			}

			>.dia-button-base {
				margin: 8px 8px 8px 0;
			}
		}

		.example-flex-container {
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;

			>* {
				width: 100px;
				margin: 8px 8px 8px 0;
			}
		}

		.example-button-container {
			display: flex;
			justify-content: center;
			width: 120px;
		}
	}
}


.display-none {
	display: none;
}

.display-blockImportant {
	display: block !important;
}
