<dia-card>
	<dia-card-header>
		<dia-card-title>Playground</dia-card-title>
	</dia-card-header>
	<dia-card-content>
		<ul>
			<li>
				<input checked="checked" type="radio" name="ButtonType_radio" value="dia-button"
					(change)="changeButtonType($event, false, 'Basic')" />
				<label> Basic</label>
			</li>
			<li>
				<input type="radio" name="ButtonType_radio" value="dia-raised-button"
					(change)="changeButtonType($event, false, 'Raised')" />
				<label> Raised</label>
			</li>
			<li>
				<input type="radio" name="ButtonType_radio" value="dia-stroked-button"
					(change)="changeButtonType($event, false, 'Stroked')" />
				<label> Stroked</label>
			</li>
			<li>
				<input type="radio" name="ButtonType_radio" value="dia-flat-button"
					(change)="changeButtonType($event, false, 'Flat')" />
				<label> Flat</label>
			</li>
			<li>
				<input type="radio" name="ButtonType_radio" value="dia-icon-button"
					(change)="changeButtonType($event, false)" />
				<label> Icon</label>
			</li>
			<li>
				<input type="radio" name="ButtonType_radio" value="dia-fab"
					(change)="changeButtonType($event, false)" />
				<label> FAB</label>
			</li>
			<li>
				<input type="radio" name="ButtonType_radio" value="dia-mini-fab"
					(change)="changeButtonType($event, false)" />
				<label> Mini FAB</label>
			</li>
		</ul>

		<div #playgroundButtons *ngIf="playgroundButtons">
			<button dia-button>Button</button>
		</div>
	</dia-card-content>
</dia-card>

<dia-card>
	<dia-card-header>
		<dia-card-title>Examples</dia-card-title>
	</dia-card-header>
	<dia-card-content>
		<section>
			<div class="example-label">Basic</div>
			<div class="example-button-row">
				<button dia-button>Basic</button>
				<button dia-button color="primary">Primary</button>
				<button dia-button color="accent">Accent</button>
				<button dia-button color="warn">Warn</button>
				<button dia-button color="success">Success</button>
				<button dia-button disabled>Disabled</button>
				<a dia-button href="https://www.google.com/" target="_blank">Link</a>
			</div>
		</section>
		<dia-divider></dia-divider>
		<section>
			<div class="example-label">Raised</div>
			<div class="example-button-row">
				<button dia-raised-button>Basic</button>
				<button dia-raised-button color="primary">Primary</button>
				<button dia-raised-button color="accent">Accent</button>
				<button dia-raised-button color="warn">Warn</button>
				<button dia-raised-button color="success">Success</button>
				<button dia-raised-button disabled>Disabled</button>
				<a dia-raised-button href="https://www.google.com/" target="_blank">Link</a>
			</div>
		</section>
		<dia-divider></dia-divider>
		<section>
			<div class="example-label">Stroked</div>
			<div class="example-button-row">
				<button dia-stroked-button>Basic</button>
				<button dia-stroked-button color="primary">Primary</button>
				<button dia-stroked-button color="accent">Accent</button>
				<button dia-stroked-button color="warn">Warn</button>
				<button dia-stroked-button color="success">Success</button>
				<button dia-stroked-button disabled>Disabled</button>
				<a dia-stroked-button href="https://www.google.com/" target="_blank">Link</a>
			</div>
		</section>
		<dia-divider></dia-divider>
		<section>
			<div class="example-label">Flat</div>
			<div class="example-button-row">
				<button dia-flat-button>Basic</button>
				<button dia-flat-button color="primary">Primary</button>
				<button dia-flat-button color="accent">Accent</button>
				<button dia-flat-button color="warn">Warn</button>
				<button dia-flat-button color="success">Success</button>
				<button dia-flat-button disabled>Disabled</button>
				<a dia-flat-button href="https://www.google.com/" target="_blank">Link</a>
			</div>
		</section>
		<dia-divider></dia-divider>
		<section>
			<div class="example-label">Icon</div>
			<div class="example-button-row">
				<div class="example-flex-container">
					<button dia-icon-button aria-label="Example icon button with a vertical three dot icon">
						<dia-icon>more_vert</dia-icon>
					</button>
					<button dia-icon-button color="primary" aria-label="Example icon button with a home icon">
						<dia-icon>home</dia-icon>
					</button>
					<button dia-icon-button color="accent" aria-label="Example icon button with a grade icon">
						<dia-icon>grade</dia-icon>
					</button>
					<button dia-icon-button color="warn" aria-label="Example icon button with a heart icon">
						<dia-icon>favorite</dia-icon>
					</button>
					<button dia-icon-button color="success" aria-label="Example icon button with a thumb up icon">
						<dia-icon>thumb_up_alt</dia-icon>
					</button>
					<button dia-icon-button disabled aria-label="Example icon button with a open in new tab icon">
						<dia-icon>open_in_new</dia-icon>
					</button>
				</div>
			</div>
		</section>
		<dia-divider></dia-divider>
		<section>
			<div class="example-label">FAB</div>
			<div class="example-button-row">
				<div class="example-flex-container">
					<div class="example-button-container">
						<button dia-button disabled>N/A</button>
					</div>
					<div class="example-button-container">
						<button dia-fab color="primary" aria-label="Example icon button with a home icon">
							<dia-icon>home</dia-icon>
						</button>
					</div>
					<div class="example-button-container">
						<button dia-fab color="accent" aria-label="Example icon button with a bookmark icon">
							<dia-icon>bookmark</dia-icon>
						</button>
					</div>
					<div class="example-button-container">
						<button dia-fab color="warn" aria-label="Example icon button with a delete icon">
							<dia-icon>delete</dia-icon>
						</button>
					</div>
					<div class="example-button-container">
						<button dia-fab color="success" aria-label="Example icon button with a add icon">
							<dia-icon>add</dia-icon>
						</button>
					</div>
					<div class="example-button-container">
						<button dia-fab disabled aria-label="Example icon button with a heart icon">
							<dia-icon>favorite</dia-icon>
						</button>
					</div>
				</div>
			</div>
		</section>
		<dia-divider></dia-divider>
		<section>
			<div class="example-label">Mini FAB</div>
			<div class="example-button-row">
				<div class="example-flex-container">
					<div class="example-button-container">
						<button dia-button disabled>N/A</button>
					</div>
					<div class="example-button-container">
						<button dia-mini-fab color="primary" aria-label="Example icon button with a menu icon">
							<dia-icon>menu</dia-icon>
						</button>
					</div>
					<div class="example-button-container">
						<button dia-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
							<dia-icon>plus_one</dia-icon>
						</button>
					</div>
					<div class="example-button-container">
						<button dia-mini-fab color="warn" aria-label="Example icon button with a close icon">
							<dia-icon>close</dia-icon>
						</button>
					</div>
					<div class="example-button-container">
						<button dia-mini-fab color="success" aria-label="Example icon button with a done icon">
							<dia-icon>done</dia-icon>
						</button>
					</div>
					<div class="example-button-container">
						<button dia-mini-fab disabled aria-label="Example icon button with a home icon">
							<dia-icon>home</dia-icon>
						</button>
					</div>
				</div>
			</div>
		</section>
	</dia-card-content>
</dia-card>
