.main {
	padding: 50px;
}

.DivSetting {
	background-color: yellow;
	padding: 20px;
}

.DivSetting ul {
	list-style: none;
}

.DivSetting ul li {
	padding: 5px;
}

.margin-div {
	margin: 10px 0px;
}
