<h5>Multiple Addons</h5>
<div class="star-grid">
    <div class="star-col-12">
        <div class="star-inputgroup">
            <span class="star-inputgroup-addon"><i style="line-height: 1.25;"></i></span>
            <span class="star-inputgroup-addon"><i style="line-height: 1.25;"></i></span>
            <input type="text" star-text-input placeholder="Price">
            <span class="star-inputgroup-addon">$</span>
            <span class="star-inputgroup-addon">.00</span>
        </div>
    </div>
</div>
